<div ngClass.lt-md="mt-50" ngClass.gt-sm="mt-100" fxLayout="row" fxLayoutAlign="center">
  <mat-card ngClass.lt-md="width-600" ngClass.gt-sm="width-800">
    <mat-card-header fxLayout="row" fxLayoutAlign="center">
      <mat-card-title>
        <div class="mat-display-1">Sales Log for {{ logId | idToDescr }}</div>
      </mat-card-title>
    </mat-card-header>
    <form
    class="example-form"
    [formGroup]="salesLogForm"
    (ngSubmit)="onSubmit()"
    #f="ngForm">
      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="logDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <app-test></app-test>
      <mat-card-actions>
        <div class="button-row" fxLayout="row" fxLayoutAlign="center">
          <button
            mat-raised-button
            [disabled]="!salesLogForm.valid"
            color="primary"
            type="submit">Save</button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            routerLink="../">Cancel</button>
        </div>
      </mat-card-actions>
      <mat-card-content>
        <div class="row">
          <div class="col-xs-12" formArrayName="entries">
            <div class="container"
                fxLayout
                fxLayout.xs="column"
                fxLayoutAlign="center"
                fxLayoutGap="10px"
                fxLayoutGap.xs="0"
                *ngFor="let entryCtrl of getControls(); let i = index"
                [formGroupName]="i"
                style="margin-top: 10px">
              <mat-form-field fxFlex="8%">
                <input
                  matInput
                  type="text"
                  placeholder="Stock Number"
                  formControlName="stockNumber"
                  (blur)="onBlurStockNumber(i)"
                >
              </mat-form-field>
              <mat-form-field fxFlex="5%">
                <input
                  matInput
                  type="text"
                  placeholder="Type"
                  formControlName="unitType"
                >
              </mat-form-field>
              <mat-checkbox
                class="mt-15"
                matInput
                formControlName="split"
                >Split
              </mat-checkbox>
              <mat-form-field fxFlex="8%">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Sold date"
                  formControlName="soldDate"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="10%">
                <input
                  matInput
                  type="number"
                  placeholder="Front Gross"
                  formControlName="frontGrossAmount"
                  (blur)="onBlurAmount(i)"
                >
              </mat-form-field>
              <mat-form-field fxFlex="10%">
                <input
                  matInput
                  type="number"
                  placeholder="Back Gross"
                  formControlName="backGrossAmount"
                  (blur)="onBlurAmount(i)"
                >
              </mat-form-field>
              <mat-form-field fxFlex="10%">
                <input
                  matInput
                  type="number"
                  placeholder="Total Gross"
                  formControlName="totalGrossAmount"
                >
              </mat-form-field>
              <div fxFlex>
                <button
                  mat-icon-button
                  (click)="onDeleteEntry(i)">
                  <mat-icon aria-label="Delete entry icon">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </mat-card-content>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="onAddEntry()">Add Entry</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
