.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

mat-card-content mat-card {
  margin-top: 3rem;
  background-color: rgba(49, 78, 209, 0.1);
}

.container {
  overflow-y: scroll;
  max-height: 40vh;
}
