<div ngClass.lt-md="mt-25" ngClass.gt-sm="mt-50" fxLayout="row" fxLayoutAlign="center">
  <mat-card ngClass.lt-md="width-500" ngClass.gt-sm="width-800">
    <mat-card-header fxLayout="row" fxLayoutAlign="center">
      <mat-card-title>
        <div class="mat-display-1">Sales Log for {{ logId | idToDescription }}</div>
      </mat-card-title>
    </mat-card-header>
    <form
      class="example-form"
      [formGroup]="salesLogForm"
      (ngSubmit)="onSubmit()"
      #f="ngForm">
      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="logDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="year"
          (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-card-actions>
        <div class="button-row" fxLayout="row" fxLayoutAlign="center">
          <button
            mat-raised-button
            [disabled]="!salesLogForm.valid"
            color="primary"
            type="submit">Save</button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            routerLink="../">Cancel</button>
        </div>
      </mat-card-actions>
      <mat-divider></mat-divider>


            <!-- <item-control
              *ngFor="let item of myForm.get('items').controls; let i=index"
              [index]="i"
              [item]="item"
              (removed)="myForm.get('items').removeAt($event)">
            </item-control> -->

      <mat-card-content>
        <mat-card>
          <div formArrayName="entries">
            <!-- <div class="container"
              fxLayout
              fxLayout.xs="column"
              fxLayoutAlign="center"
              fxLayoutGap="10px"
              fxLayoutGap.xs="0"
              style="margin-top: 10px"> -->
            <!-- <div
            class="container mat-elevation-z8"
            style="margin-top: 10px"
            > -->
              <app-sales-log-item-edit
                *ngFor="let item of getControls(); let i = index"
                [index]="i"
                [item]="item"
                (removed)="onEntryRemoved($event)">
                ></app-sales-log-item-edit>
            <!-- </div> -->
          </div>
        </mat-card>
        <div class="button-row" fxLayout="row" fxLayoutAlign="center">
            <button mat-fab
              color="primary"
              type="button"
              (click)="onAddEntry()"
              style="transform: translateY(-50%)"
              >
              <mat-icon aria-label="Icon-button with an add icon">add</mat-icon>
            </button>
        </div>
      </mat-card-content>
     </form>
  </mat-card>
</div>
